# macOS
.DS_Store
**/.DS_Store
._*
.Spotlight-V100
.Trashes

# utility locali, non fanno parte del sito
anteprima-sito.command

# editor
.vscode/
.idea/
*.swp

# Maronehats - File esclusi dal versionamento
generate-json.php
generate-store-list.php
mail-retailer.php

# JSON locali e generati
ramar.json
store-list-sample.json
store-list-src.json
store-list.json
__idea.json
idea.json
# archivi di scambio
*.zip
